@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

.Farhan{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
}
.con{
    width: 600px;
    margin: 20px;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1);  
    flex-flow: row wrap;
}

.con> p {
    padding: 20px;
    letter-spacing: .5px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

   


}

.title  {
    padding-top: 20px;
    font-size: 20px;
    color: rgb(156, 53, 53);
}

img{
    width:  100%;
    height: 300px;
    object-fit: cover;


}