.markeezy {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mark {
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1); 
    height: 100%;
}

.cited {
    display: block;
    align-self: flex-end;
    padding: 50px;
    margin: 50px;


    box-shadow: 0 14px 20px rgba(0, 0, 0, 1);  
    flex-flow: row wrap;

    
}