@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

.Container{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .container{
    width: 600px;
    height: 800px;
    margin: 20px;
    flex-flow: row wrap;
} */

.Container > p {
    margin: 5px;
    font-size: 18pt;
    line-height: 2;
    text-align: justify;
    text-indent: 50px;
}
.Container > img{
    align-self: center;
}
.title  {
    font-size: 28pt;
    color: rgb(156, 53, 53);
}