.shaan-container {
    margin: 10px;
    display: column;
    justify-content: center;
}


.rights-title {
    font-size: 32pt;

}

.shaan-container > p {
    margin: 1px;
    font-size: 14pt;
    line-height: 2;
    text-align: justify;
    text-indent: 50px;
    color: ;
}