.shaan-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://cdn.wallpapersafari.com/9/35/zHpUYd.jpg");
  background-size: cover;
  opacity: .9;
}

.shaan-container > p {
  margin: 5px;
  font-size: 18pt;
  line-height: 2;
  text-align: justify;
  color: white;
  text-indent: 50px;
}



.shaan-image {
  width: 600px;
  align-self: center;
}

.shaan-image2 {
    height: 500px;
    align-self: center;
}

.shaan-container > h1 {
  color: white;
  font-size: 28pt;
}

.shaan-container > h3 {
    margin: 4px;
    font-weight: bold;
    color: white;
}

.shaan-container > ul {
    font-size: 14pt;
    margin: 4px;
    color: white;
}