.shaan-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.shaan-container > p {
  margin: 5px;
  font-size: 18pt;
  line-height: 2;
  text-align: justify;
  text-indent: 50px;
}



.shaan-image {
  width: 600px;
  align-self: center;
}

.shaan-image2 {
    height: 500px;
    align-self: center;
}

.shaan-container > h1 {
  font-size: 28pt;
  color: rgb(156, 53, 53);
}

.shaan-container > h3 {
    margin: 4px;
    font-weight: bold;

}

.shaan-container > ul {
    font-size: 14pt;
    margin: 4px;
}